<div class="container">
  <h2>Rooms: </h2>
  <p>The list of rooms that you are included within.</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Room Name</th>
        <th>Member Count</th>
        <th>Owner Email</th>
      </tr>
    </thead>
    <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.id %></td>
        <td><%= room.name %></td>
        <td><%= room.users.count %></td>
        <td><%= room.owner.email %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>