$text-secondary: #757575;

.chat {
  border: 1px solid lighten($text-secondary, 40%);
  background: lighten($text-secondary, 50%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}

.chat-message  {
  margin: 10px;
}

.chat-status {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: grey;
}

.chat-user {
  display: inline-block;
}